.vote-controls {
    min-width: 4em;
    margin-right: 2em;
    text-align: center;
    color: $gray-700;

    span, a {
        display: block;
    }

    span{
        &.votes-count {
            font-size: 1.8em;
            line-height: 1;
        }
        &.favorites-count {
            font-size: .75em;
        }
    }

    a {
        cursor:pointer;
        color: $gray-600;

        &.off, &off:hover {
            color: $gray-500;
        }

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }

        &.vote-accepted {
            color: $green;
        }
    }
}